@model StationsVM

@{
	ViewData["Title"] = "Index";
}


<div class="container ">

	<div class="row text-bg-secondary rounded-2">


		<div class="col align-items-baseline p-2">
			<button id="playButton" class="btn btn-primary btn-lg " onclick="togglePlay()">
				<i id="playIcon" class=" bi bi-play-circle h3"></i>
			</button>

			<span id="playText" class="mx-3 h5 text-bg-secondary flex-grow-1 p-2 text-center">Select station please	</span>
		</div>

	</div>


	<div class="container d-grid my-2  subtitle  gap-2">

		<div class="bg-secondary-subtle rounded-2 p-1 centered-item w-75	">


			<form class=" " asp-controller="Home" asp-action="Index" method="get">
				<label><b>Search by name </b> <input type="text" asp-for="SearchString" /></label>
				<input type="submit" value="Filter" />
			</form>


		</div>

		<div class="d-flex bg-secondary-subtle rounded-2 p-1 centered-item w-75 ">

			<label class="d-block">
				<b>
					My Favorites
				</b>
			</label>

		</div>




		<div class="centered-item w-50">

			<table class="table table-sm table-hover table-border fixed-header ">

				<tbody >
					@foreach (var item in Model.Stations)
					{

						<tr>
							<td>

								<div onclick="togglePlay('@item.Url')">
									@Html.DisplayFor(modelItem => item.Name)
								</div>
							</td>

							<td>
								@if (ViewBag.LoggedIn == true)
								{


									<form asp-action="Add" method="post">
										<input type="hidden" name="searchString" value="@Model.SearchString" />
										<input type="hidden" name="name" value="@item.Name" />
										<input type="hidden" name="url" value="@item.Url" />
										<input type="submit" value="Add" class="submitLink" />
									</form>




								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>


		<div class="centered-item w-50">


					@if (ViewBag.LoggedIn == true)
					{
						<table class="table table-sm table-border table-hover fixed-header">

							<tbody>
								@foreach (var item in Model.Favorites)
								{

									<tr>
										<td>


											<div onclick="togglePlay('@item.Url')">
												@Html.DisplayFor(modelItem => item.Name)

											</div>
										</td>
										<td>
											<div>
												@Html.ActionLink("Delete", "Delete", new { searchString = Model.SearchString, name = item.Name }, new { @class = "submitLink" })
											</div>
										</td>
									</tr>
								}


							</tbody>
						</table>
						@if (Model.Favorites.Count() == 0)
						{
							<div class="centered">
								You don't have any favorite stations added yet.
							</div>
						}
					}
					@if (ViewBag.LoggedIn == false)
					{
						<br />
						<br />
						<br />
						<h3>
							Please login or register to add your favourites stations here.
						</h3>
					}
				</div>

			</div>
		</div>

	
<div class=" mr-sm-2">
	<audio id="player"></audio>

</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
